#subir{
    display: none;
    bottom: 0;
    right: 0;
    position: fixed;
    background: blue;
    padding: 25px;
    text-decoration: none;
    color: white;
    margin: 20px;
    z-index: 100;
    border-radius: 50%;
}
.mapa iframe{
    width: 100%;
}
footer{
    background-color: rgb(5, 5, 100);
    color: white;
    padding: 20px;
}
.linea1{
    width: 300px;
    height: 5px;
    background-color: dodgerblue;
    transform: translateY(-15px);
    margin: auto;
}
.linea2{
    width: 250px;
    height: 5px;
    background-color: dodgerblue;
    transform: translateY(-15px);
}