.imagenes{
    position: relative;    
}
.boton-izq{
    background-color: dodgerblue;
    color: white;
    position: absolute;
    top: 45%;
    left: 30px;
    border-radius: 50%;
    width: 10%;
}
.boton-der{
    background-color: dodgerblue;
    color: white;
    position: absolute;
    top: 45%;
    right: 30px;
    border-radius: 50%;
    width: 10%;
}
@media (max-width: 900px) {
    .section-contacto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
    }
    .text-contacto{
        padding: 0px 10px;
        margin-bottom: 20px;
        transform: translate(0);
    }
    form{
        width: 700px;
        height: 620px;
    }
    .img01{
        width: 500px;
    }
}
@media (max-width: 360px) {
    .cont-banner{
        width: 200px;
        left: 180px;
    }
    .section-contacto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
    }
    .text-contacto{
        width: 280px;
        height: 220px;
        padding: 0px 10px;
        margin-bottom: 10px;
        transform: translate(0);
    }
    form{
        width: 280px;
    }
    .img01{
        width: 280px;
    }
    .cont-parallax{
        height: 370px;
    }
}